.buttonone{
    width: 100px;
    height: 50px;
    background-color: blue;
    color: white;
    text-align: center;
    justify-content: center;
    border-radius: 10%;
}

.happy{
    text-align: center;
}


body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    background-color: #1f2937;
    display: flex;
    padding: 5px;
    color: white;
    display: flex;
    justify-content: space-around;
    margin: 0;
    align-items: center;
    padding-bottom: 50px;
}

.babyl{
    width: 600px;
    height: 300px;
}

ul{
    display: flex;
    list-style: none;
    gap: 15px;
    align-items: center;
}

.main{
    display: flex;
    background-color: #1f2937;
    color: white;
    text-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-bottom: 50px;
}
.text{
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
}

.boxes{
    display: flex;
    justify-content: center;
    text-wrap: wrap;
    gap: 75px;
    margin-bottom: 125px;
}
.container{
    display: flex;
    text-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.square{
    width: 150px;
    height: 150px;
    border: solid lightseagreen 5px;
    border-radius: 15%;

}

.babyj{
    border-radius: 15%;
}

.grey{
    background-color: grey;
    color: white;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    
}

.last{
    display: flex;
    justify-content: center;
    padding: 100px;
}

.blue{
    display: flex;
    background-color: #3882f6;
    color: white;
    padding: 55px;
    width: 800px;
    border-radius: 4%;
    align-items: center;
    justify-content: space-between;
}

.kill{
    display: flex;
    flex-direction: column;
}

.death{
    background-color: #3882f6;
    color: white;
    border: solid white 5px;
    height: 50px;
    width:  125px;
    border-radius: 10%;
    
}
.footer{
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;   
    padding: 30px; 
}
