




body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header{
    background-color: #1f2937;
    display: flex;
    padding: 5px;
    color: white;
    display: flex;
    justify-content: space-around;
    margin: 0;
    align-items: center;
    padding-bottom: 50px;
}

img{
    width: 600px;
    height: 300px;
}

ul{
    display: flex;
    list-style: none;
    gap: 15px;
    align-items: center;
}

.main{
    display: flex;
    background-color: #1f2937;
    color: white;
    text-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-bottom: 50px;
}
.text{
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
}
